body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

/* Style NavBar */
.logo {
  width: 200px;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px 1px #f1f3f5;
}

nav ul {
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 900;
  color: #747474;
}

a:hover {
  color: #00b39b;
}

/* Section About */
.about {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about img {
  width: 2%;
}

.about h1 {
  color: #00b39b;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.3px;
}
.grid {
  margin: 0 70px;
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid div {
  padding: 10px;
}

.grid div p {
  line-height: 1.75;
  font-weight: 600;
  font-size: 14px;
  color: #747474;
}

/* services */ 
.container { 
  display: flex;
  gap: 10%; 
  width: 100%;
  flex-wrap: nowrap;
  margin: 30px 30px 30px 30px; 


  
}
.column1 {
  border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    background-color: #00b39b;
    color: #fff; 
   
    
}
  

.column2 { 
  border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    background-color: #3d83df;
    color: #fff;
  
}

.column3 {
  border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: white;
    background-color: #1b2734;

   
}
.first {
  background-color: #00b39b;
  border-style: none; 
  color: #fff;
  text-decoration: underline;
  padding-bottom: 15px;
  text-align: center;
}
.second {
  background-color: #3d83df;
  border-style: none; 
  color: #fff;
  text-decoration: underline;
  padding-bottom: 15px;
  text-align: center;
}

.third 
{ 
  background-color: #1b2734;
  border-style: none; 
  color: #fff;
  text-decoration: underline;
  padding-bottom: 15px;
  text-align: center;
}
.fourth 
{ 
  background-color: #1b2734;
  border-style: none; 
  color: #fff;
  text-decoration: underline;
  padding-bottom: 15px;
  text-align: center;
}
section {
  display: block;
}

